<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Cat Gif of the day</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="https://scontent.ftun3-1.fna.fbcdn.net/v/t31.0-8/1273585_434013866707939_518729452_o.jpg?_nc_cat=110&ccb=3&_nc_sid=09cbfe&_nc_ohc=3S6VUoxf8lAAX9Wo46W&_nc_ht=scontent.ftun3-1.fna&oh=67cd76db5d8543c9a88c50d3a5f18ba5&oe=605B4003">Buzzfeed</a></small></p>
    </div>
  </body>
</html>
